body
{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#content
{
    display: flex;
    flex-direction: row;
}

.list-container
{
    flex: 0 0 275px;
}

.list
{
    background-color: #ececec;
}

.list p
{
    margin: unset;
}

.list-items
{
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.list-card
{
    background-color: #fcfcfc;
}

.list-card p
{
    font-size: small;
}

.modal-container .modal
{
    overflow-y: auto;
}

.modal
{
    background: rgba(0,0,0,.35);
}

@media (min-width: 576px)
{
    .modal-dialog
    {
        max-width: max(75vw, 500px);
    }
}