html, body
{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: small;
}

#content
{
    display: flex;
    flex-direction: row;
}

.list-container
{
    flex: 0 0 275px;
}

.list
{
    background-color: #ececec;
}

.list p
{
    margin: unset;
}

.list-items
{
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.list-card
{
    background-color: #fcfcfc;
}

.list-card p
{
    font-size: small;
}

.modal-container .modal
{
    overflow-y: auto;
}

.modal
{
    background: rgba(0,0,0,.35);
}

@media (min-width: 576px)
{
    .modal-dialog
    {
        max-width: max(40vw, 750px);
    }
}

.label
{
    padding: .25rem .5rem;
    font-weight: bold;
    font-size: small;
}

.modal .label
{
    padding: .75rem 1rem;
    margin: .125rem .25rem;
}

.label.green {
    background-color: #61bd4f;
}

.label.yellow {
    background-color: #f2d600;
}

.label.orange {
    background-color: #ff9f1a;
}

.label.red {
    background-color: #b04632;
}

.label.purple {
    background-color: #c377e0;
}

.label.blue {
    background-color: #0079bf;
}

.label.sky {
    background-color: #ff78cb;
}

.label.lime {
    background-color: #00c2e0;
}

.label.pink {
    background-color: #51e898;
}

.label.black {
    background-color: #344563;
}
